<section class="container-lg d-flex align-items-center justify-content-center text-center" style="min-height: 100vh;">
  <%= form_with(model: [ @article ], local: true, class: "row g-2") do |form| %>
    <h1>Editar</h1>
    <p class="row">
      <%= form.label :Nome, class: "form-label row" %><br>
      <%= form.text_field :title, class: "form-control" %>
    </p>
    <p class="row">
      <%= form.label :Descrição, class: "form-label row" %><br>
      <%= form.text_area :text, class: "form-control" %>
    </p>
    <p>
      <%= form.submit class: 'btn btn-primary custom-submit-class' %>
      <%= link_to 'Voltar', articles_path, class: 'btn btn-secondary' %>
    </p>
  <% end %>
</section>
