<section class="container-lg d-flex align-items-center justify-content-center text-center" style="min-height: 100vh;">
  <%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <p>
      <%= form.label :Nome, class: "form-label" %><br>
      <%= form.text_field :title, class: "form-control" %>
    </p>
  
    <p>
      <%= form.label :Descrição, class: "form-label text-left" %><br>
      <%= form.text_area :text, class: "form-control" %>
    </p>
  
    <p>
      <%= form.submit class: 'btn btn-primary custom-submit-class' %>
      <%= link_to 'Voltar', articles_path, class: 'btn btn-secondary' %>
    </p>
  <% end %>
</section>
