<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :Título %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :Descrição %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
  <p>
    <%= link_to 'Voltar', articles_path %>
  </p>
<% end %>