<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Vinil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>

    </style>
  </head>
  <body>
    <section class="container-lg d-flex align-items-center justify-content-center text-center" style="min-height: 100vh;">
      <%= form_with scope: :vinyl, url: vinyls_path, local: true do |form| %>
        <p>
          <%= form.label :Nome, class: "form-label" %><br>
          <%= form.text_field :name, class: "form-control" %>
        </p>
      
        <p>
          <%= form.label :Descrição, class: "form-label text-left" %><br>
          <%= form.text_area :description, class: "form-control" %>
        </p>

        <p>
          <%= form.label :author_id, "Author", class: "form-label text-left" %><br>
          <%= form.collection_select :author_id, Author.all, :id, :name, { prompt: "Selecione a autor: " }, class: "form-control" %>
        </p>
      
        <p>
          <%= form.submit class: 'btn btn-primary custom-submit-class' %>
          <%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>
        </p>
      <% end %>
    </section>
  </body>
</html>
